substitutions:
  # EUC Settings
  euc_name: "Veteran Lynx"
  euc_mac: !secret euc_veteran_mac
external_components:
  - source: my_components
esphome:
  name: esphome-euc
  friendly_name: ESPHome EUC Sensor
  area: "Прихожая"
esp32:
  board: esp32dev
  framework:
    type: esp-idf
  # variant: ESP32
  # flash_size: 4MB
  # cpu_frequency: 240MHZ
logger:
  logs:
    ble_sensor: ERROR
    binary_sensor: ERROR
    component: ERROR
    esp32_ble_client: ERROR
    light: ERROR
    sensor: ERROR
    text_sensor: ERROR
    esp32_ble_tracker: ERROR
    safe_mode: ERROR
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
  ap:
api:
  encryption:
    key: !secret ha_encryption_key
ota:
  - platform: esphome
    password: !secret wifi_password
web_server:
  port: 80
  include_internal: false
  version: 3
output:
  - platform: gpio
    pin: GPIO2
    id: gpio_d2
light:
  - platform: binary
    name: EUC Connected LED
    id: status
    output: gpio_d2
    internal: true
    entity_category: "diagnostic"
esp32_ble_tracker:
ble_client:
  - mac_address: "${euc_mac}"
    id: euc
    auto_connect: true
    on_connect:
      then:
        - lambda: |-
            id(connected).publish_state(true);
            id(status).turn_on().perform();
    on_disconnect:
      then:
        - lambda: |-
            id(connected).publish_state(false);
            id(status).turn_off().perform();
button:
  - platform: restart
    name: "Restart ESP32"
    entity_category: diagnostic
sensor:
  - platform: ble_client
    id: states
    internal: true
    entity_category: diagnostic
    ble_client_id: euc
    type: characteristic
    notify: true
    service_uuid: FFE0
    characteristic_uuid: FFE1
    lambda: |-
      id(veteran_ext).parse_ble_packet(x);
      return {};
binary_sensor:
  - platform: template
    id: connected
    name: "${euc_name} Connected"
    icon: mdi:bluetooth
    device_class: connectivity
  - platform: gpio
    pin:
      number: GPIO0
      inverted: true
      mode: INPUT_PULLUP
    name: "Boot Button"
    internal: true
    entity_category: diagnostic
    on_press:
      - switch.toggle: ble_connect_switch
veteran:
  id: veteran_ext
  auto_off:
    id: auto_off
    name: "${euc_name} Auto Off"
    icon: mdi:progress-clock
    device_class: duration
    state_class: measurement
    unit_of_measurement: sec
    accuracy_decimals: 0
  charging_stop_voltage:
    id: charging_stop_voltage
    name: "${euc_name} Stop charging at"
    icon: mdi:flash
    device_class: voltage
    state_class: measurement
    unit_of_measurement: V
    accuracy_decimals: 1
  temperature_motor:
    id: temperature_motor
    name: "${euc_name} Temperature motor"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  temperature_controller:
    id: temperature_controller
    name: "${euc_name} Temperature controller"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_left_current:
    id: bms_left_current
    name: "${euc_name} BMS Left Current"
    icon: mdi:current-ac
    device_class: current
    state_class: measurement
    unit_of_measurement: A
    accuracy_decimals: 3
  power:
    id: power
    name: "${euc_name} Power"
    icon: mdi:lightning-bolt
    device_class: power
    state_class: measurement
    unit_of_measurement: W
    accuracy_decimals: 3
  bms_right_current:
    id: bms_right_current
    name: "${euc_name} BMS Right Current"
    icon: mdi:current-ac
    device_class: current
    state_class: measurement
    unit_of_measurement: A
    accuracy_decimals: 3
  bms_left_temp_1:
    id: bms_left_temp_1
    name: "${euc_name} BMS Left Temperature 1"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_left_temp_2:
    id: bms_left_temp_2
    name: "${euc_name} BMS Left Temperature 2"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_left_temp_3:
    id: bms_left_temp_3
    name: "${euc_name} BMS Left Temperature 3"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_left_temp_4:
    id: bms_left_temp_4
    name: "${euc_name} BMS Left Temperature 4"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_left_temp_5:
    id: bms_left_temp_5
    name: "${euc_name} BMS Left Temperature 5"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_left_temp_6:
    id: bms_left_temp_6
    name: "${euc_name} BMS Left Temperature 6"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_right_temp_1:
    id: bms_right_temp_1
    name: "${euc_name} BMS Right Temperature 1"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_right_temp_2:
    id: bms_right_temp_2
    name: "${euc_name} BMS Right Temperature 2"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_right_temp_3:
    id: bms_right_temp_3
    name: "${euc_name} BMS Right Temperature 3"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_right_temp_4:
    id: bms_right_temp_4
    name: "${euc_name} BMS Right Temperature 4"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_right_temp_5:
    id: bms_right_temp_5
    name: "${euc_name} BMS Right Temperature 5"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  bms_right_temp_6:
    id: bms_right_temp_6
    name: "${euc_name} BMS Right Temperature 6"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2
  tho_ra:
    id: tho_ra
    name: "${euc_name} Tho_ra"
    state_class: measurement
    unit_of_measurement: "%"
    accuracy_decimals: 0
  mileage_current:
    id: mileage_current
    name: "${euc_name} Mileage current"
    device_class: distance
    state_class: measurement
    unit_of_measurement: "km"
    accuracy_decimals: 2
  mileage_total:
    id: mileage_total
    icon: mdi:map-marker-distance
    name: "${euc_name} Mileage total"
    device_class: distance
    state_class: measurement
    unit_of_measurement: "km"
    accuracy_decimals: 2
  voltage:
    id: voltage
    name: "${euc_name} Voltage"
    icon: mdi:flash
    device_class: voltage
    state_class: measurement
    unit_of_measurement: V
    accuracy_decimals: 2
  charging:
    id: charging
    name: "${euc_name} Charging"
    icon: mdi:power-plug-battery
    device_class: battery_charging
  battery_percentage:
    id: battery_percentage
    name: "${euc_name} Battery"
    icon: mdi:battery
    device_class: battery
    state_class: measurement
    unit_of_measurement: "%"
    accuracy_decimals: 1
  firmware_version:
    id: firmware_version
    name: "${euc_name} firmwareVersion"
    icon: mdi:cellphone-arrow-down
  low_power_mode:
    id: low_power_mode
    name: "${euc_name} Low power mode"
  high_speed_mode:
    id: high_speed_mode
    name: "${euc_name} High speed mode"
switch:
  - platform: ble_client
    name: "BLE connect"
    id: ble_connect_switch
    icon: mdi:bluetooth
    entity_category: config
  - platform: template
    name: "${euc_name} Lights"
    id: euc_lights
    optimistic: true
    entity_category: config
    restore_mode: DISABLED
    on_turn_on:
      - ble_client.ble_write:
          id: euc
          service_uuid: FFE0
          characteristic_uuid: FFE1
          value: !lambda |-
              return {0x4C, 0x6B, 0x41, 0x70, 0x0D, 0x01, 0x80, 0x80, 0x01, 0x57, 0xED, 0x3B, 0xD5, 0x4C, 0x64, 0x41, 0x70, 0x0D, 0x01, 0x00, 0x80, 0x01, 0x6F, 0xF8, 0x32, 0xF9};
    on_turn_off:
      - ble_client.ble_write:
          id: euc
          service_uuid: FFE0
          characteristic_uuid: FFE1
          value: !lambda |-
              return {0x4C, 0x6B, 0x41, 0x70, 0x0D, 0x01, 0x80, 0x80, 0x00, 0x20, 0xEA, 0x0B, 0x43, 0x4C, 0x64, 0x41, 0x70, 0x0D, 0x01, 0x00, 0x80, 0x00, 0x18, 0xFF, 0x02, 0x6F};
