substitutions:
  euc_name: "Veteran Lynx"
  euc_mac: "88:25:83:F5:89:24"

esphome:
  name: esphome-euc
  friendly_name: ESPHome EUC Sensor
  includes:
    - veteran.h

esp32:
  board: esp32dev
  framework:
    type: esp-idf

logger:
  logs:
    light: ERROR
    # component: ERROR
    esp32_ble_client: ERROR
    ble_sensor: ERROR
    # binary_sensor: ERROR
    # sensor: ERROR
    # text_sensor: ERROR

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true

api:
  encryption:
    key: !secret ha_encryption_key

ota:
  - platform: esphome
    password: !secret wifi_password

web_server:
  port: 80
  include_internal: false
  version: 3
  sorting_groups:
    - id: sorting_group_states
      name: "States"
      sorting_weight: 10
    - id: sorting_group_sensors
      name: "Sensor and Control"
      sorting_weight: 20
    - id: diagnostic
      name: "Diagnostic"
      sorting_weight: 30

output:
  - platform: gpio
    pin: GPIO2
    id: gpio_d2

light:
  - platform: binary
    name: EUC Connected LED
    id: status
    output: gpio_d2
    internal: true
    entity_category: "diagnostic"

esp32_ble_tracker:

ble_client:
  - mac_address: "${euc_mac}"
    id: euc
    auto_connect: true
    on_connect:
      then:
        - lambda: |-
            id(status).turn_on().perform();
            id(euc_connected).publish_state(true);
            id(ble_connect_switch).publish_state(true);
    on_disconnect:
      then:
        - lambda: |-
            id(status).turn_off().perform();
            id(euc_connected).publish_state(false);
            id(euc_charging).publish_state(false);

binary_sensor:
  - platform: template
    id: euc_connected
    name: "${euc_name} Connected"
    icon: mdi:bluetooth
    device_class: connectivity

  - platform: template
    id: euc_charging
    name: "${euc_name} Charging"
    icon: mdi:power-plug-battery
    device_class: battery_charging

  - platform: gpio
    pin:
      number: GPIO0
      inverted: true
      mode: INPUT_PULLUP
    name: "Boot Button"
    on_press:
      - switch.toggle: ble_connect_switch

button:
  - platform: restart
    name: "Restart ESP32"
    entity_category: "diagnostic"
    web_server:
      sorting_weight: 900

globals:
  - id: ble_buffer
    type: std::vector<uint8_t>
    initial_value: "std::vector<uint8_t>()"

  - id: expected_length
    type: int

sensor:
  - platform: ble_client
    id: states
    internal: true
    entity_category: diagnostic
    ble_client_id: euc
    type: characteristic
    notify: true
    service_uuid: FFE0
    characteristic_uuid: FFE1
    lambda: |-
      parse_veteran_packet(x);
      return {};

  - platform: template
    id: euc_voltage
    name: "${euc_name} Voltage"
    icon: mdi:flash
    device_class: voltage
    state_class: measurement
    unit_of_measurement: "V"
    accuracy_decimals: 2

  - platform: template
    name: "${euc_name} Battery"
    id: euc_battery_percentage
    icon: mdi:battery
    device_class: battery
    state_class: measurement
    unit_of_measurement: "%"
    accuracy_decimals: 2

  # - platform: template
  #   id: euc_speed
  #   name: "${euc_name} Speed"
  #   entity_category: "diagnostic"
  #   device_class: speed
  #   state_class: measurement
  #   unit_of_measurement: "km/h"
  #   accuracy_decimals: 2

  # - platform: template
  #   id: euc_distance
  #   icon: mdi:map-marker-distance
  #   name: "${euc_name} Distance Last"
  #   entity_category: "diagnostic"
  #   device_class: distance
  #   state_class: total_increasing
  #   unit_of_measurement: "km"
  #   accuracy_decimals: 2

  - platform: template
    id: euc_total_mileage
    icon: mdi:map-marker-distance
    name: "${euc_name} Total mileage"
    device_class: distance
    state_class: measurement
    unit_of_measurement: "km"
    accuracy_decimals: 2

  # - platform: template
  #   id: euc_phase_current
  #   name: "${euc_name} Current"
  #   entity_category: "diagnostic"
  #   icon: mdi:current-ac
  #   device_class: current
  #   state_class: measurement
  #   unit_of_measurement: "A"
  #   accuracy_decimals: 2

  - platform: template
    id: euc_temperature
    name: "${euc_name} temperature"
    entity_category: "diagnostic"
    icon: mdi:temperature-celsius
    device_class: temperature
    state_class: measurement
    unit_of_measurement: "°C"
    accuracy_decimals: 2

  - platform: template
    id: euc_auto_off_sec
    name: "${euc_name} Auto Off"
    entity_category: "diagnostic"
    icon: mdi:progress-clock
    device_class: duration
    state_class: measurement
    unit_of_measurement: min
    accuracy_decimals: 0

  # - platform: template
  #   id: euc_speed_alert
  #   name: "${euc_name} speedAlert"
  #   entity_category: "diagnostic"
  #   device_class: speed
  #   state_class: measurement
  #   unit_of_measurement: "km/h"
  #   accuracy_decimals: 0

  # - platform: template
  #   id: euc_speed_tiltback
  #   name: "${euc_name} speedTiltback"
  #   entity_category: "diagnostic"
  #   device_class: speed
  #   state_class: measurement
  #   unit_of_measurement: "km/h"
  #   accuracy_decimals: 0

  - platform: template
    id: euc_pitch_angle
    name: "${euc_name} pitchAngle"
    icon: mdi:format-text-rotation-angle-up
    entity_category: "diagnostic"
    state_class: measurement
    unit_of_measurement: "°"
    accuracy_decimals: 0

  # - platform: template
  #   id: euc_hw_pwm
  #   entity_category: "diagnostic"
  #   name: "${euc_name} hwPwm"
  #   accuracy_decimals: 2

switch:
  - platform: template
    name: "BLE connect"
    id: ble_connect_switch
    icon: mdi:bluetooth
    optimistic: true
    entity_category: "diagnostic"
    restore_mode: DISABLED
    on_turn_on:
      - ble_client.connect: euc
    on_turn_off:
      - ble_client.disconnect: euc

text_sensor:
  - platform: template
    id: euc_firmware_version
    entity_category: "diagnostic"
    name: "${euc_name} firmwareVersion"
    icon: mdi:cellphone-arrow-down
