# Your Wi-Fi SSID and password
wifi_ssid: ""
wifi_password: ""

# Home Assistant encryption key
ha_encryption_key: ""

# EUC BSSID
euc_mac: "XX:XX:XX:XX:XX:XX"

# EUC Services
service_uuid: 6E400001-B5A3-F393-E0A9-E50E24DCCA9E
rx_char_uuid: 6E400002-B5A3-F393-E0A9-E50E24DCCA9E
tx_char_uuid: 6E400003-B5A3-F393-E0A9-E50E24DCCA9E
