# Your Wi-Fi SSID and password
wifi_ssid: ""
wifi_password: ""

# Home Assistant encryption key
ha_encryption_key: ""

# BLE MAC for your euc
euc_inmotion_mac: "XX:XX:XX:XX:XX:XX"
euc_veteran_mac: "XX:XX:XX:XX:XX:XX"